#heading{
  background-color: #287aed;
  font-family: times new roman;
}

a{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: times new roman;
}

h1,h2,h3{text-align: center;

}


img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#world{
  font-family: cursive;

}

#wheel{
  font-family: cursive;

}

#human{
  font-family: cursive;

}

#footer{
  font-family: cursive;

}

#bottom{
  background-color: #287aed;
  font-family: times new roman;
  text-align: right;
}
